.main {
    position: relative;
    width: 100%;

     &.custom-bg {
        background-image:   url(/assets/img/logo_background.png);
        background-repeat: no-repeat;
        background-position: 80% top;
        background-size: 25%;
        z-index: -1;
    }
}

.bg-image {
    z-index: -1;
    position: absolute;
    max-width: 35%;
    right: 400px;
    bottom: 0;
}

