// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-navy-blue {
    background-color: #264065;
    color: white;
    padding: 14px 30px;
    border-radius: 50px;
    text-decoration: none;
}
.btn-navy-blue:hover {
    background-color: #1b2a4d;
    color: white;
    text-decoration: none;
}

.play {
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 12px;
}

.play:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}