// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-navy-blue {
    background-color: #264065;
    color: white;
    padding: 14px 30px;
    border-radius: 50px;
    text-decoration: none;
    min-width: 132px;
}