@use '../abstracts/variables' as *;

header {
    width: 100%;
}
.header-container {
    display: flex;
    align-items: center;
    gap: 5rem;

    
    a {
        color: $text-color;
        text-decoration: none;
    }

    .header-logo-container {
        display: flex;
        justify-content: flex-start;
        .header-link-logo {
            .header-logo {
                width: 200px;
            }
        }
    }
    
    .main-nav {
        flex: 1;
        display: flex;
        justify-content: center;
        
        ul {
            list-style: none;
            display: flex;
            gap: 2rem;
        }
    }

    .header-user-actions {
        display: flex;
        align-items: center;
        gap: 5rem;

        .user-actions-icons {
            display: flex;
            gap: 2rem;
            align-items: center;
        }

        .user-actions-links {
            display: flex;
            gap: 2rem;
            align-items: center;

            .sign-in {
                text-decoration: underline;
                display: inline-block;
            }

            .sign-up {
                color: white;
            }
        }
    }

    
}