@use '../abstracts/variables' as *;

.icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-style: none;
    border-radius: 150px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}

.service {
    &--special-treatment {
        background-repeat: no-repeat;
        background-image: url('../../assets/icons/service-special-treatment.png');
        padding: 20px;
    }

    &--therapist {
        background-repeat: no-repeat;
        background-image: url('../../assets/icons/service-therapist.png');
        padding: 20px;
    }

    &--herbal-cream {
        background-repeat: no-repeat;
        background-image: url('../../assets/icons/service-herbal-cream.png');
        padding: 20px;
    }
}


.blue-icon {
    color: #264065;
    font-size: 18px;
}

.bg-green {
    background-color: $background-green;
}